
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.my-table > tfoot {
    /* display: none !important; */
}

.rft-pagination {
    display: flex;
    justify-content: space-evenly;
}

.table-link {
    font-size: 20px;
    color: #626d70;
}

.table-content {
    margin-left: 2em;
}

.table-link:hover {
    font-size: 20px;
    cursor: pointer;
    color: #07a4cf;
}

:root {
    --rft-main-color: #76aab9 !important;
    --rft-button-color: #76aab9 !important;
    --rft-even-row-color: #f3f3f3 !important;
}

.rft-table thead th:hover {
    background-color: #76aab9 !important;
}

.rft-table tbody tr:hover {
background-color: #76aab9 !important;

}

._1OmBB tbody tr:hover {
color: blue !important;
}

._1OmBB thead th:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}